button{
	background: #5cbcab;
	color:#fff;
	border:none;
	min-width: 100px;
	height: 50px;
	font-weight: bold;
	border-radius: 5px;
}
button:hover,
button:focus{
	background: #9400D3;
	color: #fff;
}
button:focus{
	outline:none;
}
button:active{
	color: #FFD700;
}