.gameBoard{
	width: 60%;
	background: #fff;
	text-align: center;
	padding: 1em;
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, .5);
	margin-bottom: 2em;
	float: left;
	box-sizing: border-box;
}