/*style.css*/
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import "normalize";
@import "normal";

body *{
	box-sizing: border-box;
}
body{
	font-family: 'Gloria Hallelujah', sans-serif;
	padding-top: 1em;
	background: rgba(190, 190, 190, .1);
}
section{
	color: #9400D3;
}
input[type="text"]{
	border-radius: 15px;
	border: 2px solid #9400D3;
	height:60px;
	font-size:20px;
	padding: 10px;
	margin-bottom:1em;
}
input[type="text"]:focus{
	background: #fff;
	color:#000;
	outline:none;
}
h1{
	color: #5cbcab;
	font-variant:small-caps;
	font-size:500%;
	margin-top: 0;
}
h2{
	color: #5cbcab;
	font-variant:small-caps;
	font-size:300%
}
sub, sup{
	font-size: 50%;
}
sup{
	top: -1em;
	margin-right: 9px;
}
sub{
	margin-left: 9px;
	bottom: -0.4em;
}
#guesses, #score{
	font-variant: small-caps;
	color: #9400D3;
	font-weight: bold;
}
#guesses{
	list-style: none;
}
#guesses li{
	font-size: 1.5em;
}
#score{
	font-size: 250%;
}
.lives{
	font-variant: small-caps;
	color: #9400D3;
	font-weight: bold;
	text-align: center;
	clear: both;
	font-size: 300%;
}
::-webkit-input-placeholder {
   color: #9400D3;
}
#word{
	display: block;
	margin: 0 auto 1em;
}

:-moz-placeholder { /* Firefox 18- */
   color: #9400D3;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #9400D3;  
}

:-ms-input-placeholder {  
   color: #9400D3;
}
/* Difficulties */
.normal{
	color: #0000ff;
}
